/* Custom CSS */
html,
body {
    height: 100%;
}

.navbar-c {
    background-color: #50C467;
}

.logo-c {
    width: 150px;
}

.info-loker-c {
    width: 350px;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #50C467;
    transition: left 0.3s ease;
}

.active {
    left: 0;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 15px;
}

.menu-items li a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.btn-register {
    background-color: #50C467;
    /* width: 23rem; */
    max-height: 10vh;
    border-radius: 11px;
    /* margin-right: 2.5rem; */
    /* padding: 10px 50px; */
}

.image-icon {
    width: 21%;
    padding: 10px;
}

.text-bot {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.line-hr {
    border-top-width: 3px !important;
    background-color: #C5C5C5;
}

.text-atau {
    color: #C5C5C5 !important;
}

.btn-wa {
    background-color: #182c2a;
    /* width: 23rem; */
    max-height: 10vh;
    border-radius: 11px;
    /* margin-left: 2.5rem; */
    /* padding: 10px 30px; */
}

.text-bot-wa {
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

.image-icon-wa {
    width: 21%;
    padding: 10px;
}

/* styling css login */

.btn-login {
    background-color: #50C467;
}

.btn-login:hover {
    background-color: #2c6d39;
}

.text-signup:hover {
    color: #50C467;
}

/* styling css chatbox */

.bg-chat {
    background-color: #aeb0b2;
}

.bg-chat-top,
.bg-chat-user {
    background-color: #50C467;
}

.bg-btn {
    background-color: #182c2a;
}

/* sweetalert */
.swal2-styled {
    background-color: #50C467 !important;
}

.swal2-styled:hover {
    background-color: #2c6d39 !important;
}